$screen-1: 320px; // mobile-portrait
$screen-2: 480px; // mobile-landscape
$screen-3: 768px; // tablet-portrait
$screen-4: 1024px; // pc & tablet-landscape
$screen-5: 2048px; // pc-wide

// Media queries
// Wearable devices
@mixin mobile-xs {
  @media only screen and (width < $screen-1) {
    @content;
  }
}

// "Mobile portrait" is default
// $screen-1 <= width < $screen-2

// Mobile-landscape
@mixin mobile-wide {
  @media only screen and ($screen-2 <= width) {
    @content;
  }
}

// Tablet-portrait
@mixin tablet {
  @media only screen and ($screen-3 <= width) {
    @content;
  }
}

// PC & Tablet-landscape
@mixin pc {
  @media only screen and ($screen-4 <= width) {
    @content;
  }
}

@mixin pc-wide {
  @media only screen and ($screen-5 <= width) {
    @content;
  }
}

// Button style
@mixin getBtn($bg-color, $font-color, $font-size) {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 8px;
  font-size: $font-size;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  &,
  &:link,
  &:visited,
  &:active {
    background-color: $bg-color;
    color: $font-color;
  }

  // Hovering feedback: color inversion & bordering
  &:hover {
    background-color: transparent;
    color: $bg-color;
    box-shadow: 0 0 0 2px $bg-color;
  }

  // Focus feedback: bordering in black
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px black;
  }

  &:disabled {
    background-color: var(--disabled-color);
    box-shadow: none;
    cursor: default;
  }
}
