<% const camelName = name.charAt(0).toUpperCase() + name.slice(1) -%>
import styles from './<%=name%>.module.scss';

const Presenter = () => {
  const contents = "placeholder";

  return <section className={styles.container}>{contents}</section>;
};

export default Presenter;
