import styles from './<%=name%>.module.scss';

const Presenter = () => {
  const contents = "placeholder";

  return <section className={styles.container}>{contents}</section>;
};

export default Presenter;
