<% const camelName = name.charAt(0).toUpperCase() + name.slice(1) -%>
import { useState } from 'react';
import styles from './<%=name%>.module.scss';
import { useLinkClick } from './<%=name%>Interactor';

const View = () => {
  const [data, setState] = useState('');
  const onLinkClick = useLinkClick(setState);

  return <div className={styles.view}>{data}</div>;
};

export default View;
